html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;  
  align-items: center;      
  background-color: #222;  
}

/* Стили для списка звезд */

.card-body-stars {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
}

/* Можно добавить hover-эффект или курсор */

.card-body-stars li {
  cursor: default;
}